body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header-img {
  background-image: url("./images/Header.jpeg");
  width: auto;
  height: 230px;
  left: -14.13px; 
  top: -8px;
}

.font-dt-location {
  font-size: 25px;
}

.opacity {
  opacity: 0.6;
}

.fontSize-temp {
  font-size: 105px;
}

.degreeDay {
  position: absolute;
  padding-top: 30px;
  font-size: 30px;
}

.fontSize-min-max {
  font-size: 30px;
}

.tem-min-max {
  padding-top: 19px;
}

.location {
  background-color: rgba(13, 159, 234, 0.08);
  color: #0DA0EA;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.font-icon {
  font-size: 20px;
}

.scroll-box {
  height: 140px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}

.icon-day {
  width: 30%;
  padding-top: 2px;
}

.icon {
  width: 20%;
}

.item-day {
  height: 100%;
  width: 115px;
  display: inline-block;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.item-day-span {
  font-size: 15px;
}

@media (max-width: 600px) {
  .header-img {
    width: 460.38px;
  }
  .font-dt-location {
    font-size: 16px;
  }
  .fontSize-temp {
    font-size: 60px;
  }
  .degreeDay {
    padding-top: 17px;
    font-size: 25px;
  }
  .fontSize-min-max {
    font-size: 20px;
  }
  .tem-min-max {
    padding-top: 0;
  }
  .font-icon {
    font-size: 16px;
  }
  .scroll-box {
    height: 115px;
  }
  .icon-day {
    width: 50%;
  }
  .icon {
    width: 30%;
  }
  .item-day {
    width: 104px;
  }
}